/* IMPORTS */
/* MISCELANEOUS */
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");
.p-xlarge {
  padding: 5rem; }

.p-large {
  padding: 3rem; }

.p-medium {
  padding: 2rem; }

.p-small {
  padding: 1.5rem; }

.p-xsmall {
  padding: 1rem; }

.img-letter {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../public/img/letter.jpg"); }

.img-hogwarts {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../public/img/hogwarts.jpg"); }

.img-train {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../public/img/train.jpg"); }

/* Helpers */
.container {
  max-width: 1080px;
  margin: 0 auto; }

@keyframes be_crazy {
  0% {
    width: 100%; }
  25% {
    width: 500px; }
  50% {
    width: 300px;
    background-color: crimson; }
  75% {
    width: 500px; }
  100% {
    width: 100%;
    background-color: #163a5d; } }

@keyframes fancy_rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALS */
html {
  font-size: 62.5%; }

body {
  display: grid;
  font-family: "Inter", sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: #3d79b5;
  background: #163a5d;
  background-color: #163a5d; }

ol, ul {
  padding-left: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white;
  display: inline-block; }

/* PARTIALS */
header {
  background-color: #163a5d; }
  header .navbar {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 2rem; }
  header .logo {
    flex-basis: 30%; }
  header .menu {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: nowrap; }
    header .menu__item, header .menu__item--active {
      border: 2px solid #163a5d;
      transition: border-color .3s ease-in-out; }
      header .menu__item--active {
        border-bottom: 2px solid cyan; }
      header .menu__item:hover, header .menu__item--active:hover {
        border-color: #FFFFFF; }
      header .menu__item .menu__link, header .menu__item--active .menu__link {
        font-size: 1.8em;
        padding: 1rem; }

.menu .menu__item:hover .sub-menu, .menu header .menu__item--active:hover .sub-menu, header .menu .menu__item--active:hover .sub-menu {
  display: block; }

.sub-menu {
  display: none;
  position: absolute; }

.sub-menu .sub-menu__item .sub-menu__link {
  padding: 1rem;
  font-size: 1.4em;
  transition: all .3s ease-in-out; }

.sub-menu .sub-menu__item .sub-menu__link:hover {
  background-color: #FFFFFF;
  color: #163a5d; }

@media screen and (max-width: 768px) {
  header {
    padding: 2em; }
    header .navbar {
      justify-content: center;
      flex-direction: column; }
    header .menu {
      font-size: .8em; } }

footer {
  height: 10vh;
  align-items: center;
  justify-content: center; }

/* VIEWS */
.presentation {
  gap: 2rem;
  align-items: center;
  padding: 0 2rem; }
  .presentation__picture {
    flex-basis: 50%;
    min-width: 320px; }
  .presentation__img {
    width: 100%; }
  .presentation__container {
    flex-basis: 50%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center; }
    .presentation__container p {
      font-size: 3.2em; }
    .presentation__container h1 {
      font-size: 6.8em;
      text-transform: uppercase; }
  .presentation__badge img {
    animation: fancy_rotate 4s infinite alternate cubic-bezier(0.175, 0.885, 0.32, 1.275); }

@media screen and (max-width: 768px) {
  .presentation {
    flex-wrap: wrap; }
    .presentation__picture {
      flex-grow: 1; }
    .presentation__description {
      flex-grow: 1;
      order: -1; } }

main {
  max-width: 1080px;
  margin: 0 auto; }
  main .nosotros-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; }
    main .nosotros-section article p {
      padding: 2rem; }
