
main {
    max-width: 1080px;
    margin: 0 auto;
    .nosotros-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

       article {
           p {
               padding: map-get($paddings , medium);
           }
       }
    }
}



