
@keyframes be_crazy {
    0% {
        width: 100%;
    }
    25% {
        width: 500px;
    }
    50% {
        width: 300px;
        background-color: crimson;
    }
    75% {
        width: 500px;
    }
    100% {
        width: 100%;
        background-color: $principal;
    }
}

@keyframes fancy_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}