$principal: #163a5d;
$secondary: #FFFFFF;
$light: #3d79b5;
$font-primary: "Inter", sans-serif;
$font-secondary: "Bowly One SC", cursive;
$text-lg: 2em;
$text-md: 1.8em; 

$dark-theme: (
    principal: #163a5d,
    secondary: #FFFFFF
);

$light-theme: (
    principal: #163a5d,
    secondary: #FFFFFF
);

$images: (
    letter: 'letter',
    hogwarts: 'hogwarts',
    train: 'train'
);

$sizes:(
    jumbo: 6.8em,
    display: 3.2em,
    title: 2em,
    text: 1.5em,
    caption: 1em 
);

$paddings: (
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    xsmall: 1rem
);

@each $var, $val in $paddings {
    .p-#{$var} {
        padding: #{$val};
    }
}

@each $image, $value in $images {
    .img-#{$image} {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-image: url('../public/img/#{$value}.jpg');
    }
}